.sidebar{
    flex:1;
    background: #1d2531;
    min-height: 100vh;
    position:sticky;
}


/* Styling MeetDoc Logo*/
.top{
    height:63px;
    display: flex;
    align-items: center;
    padding-left: 15px;;
    background-color:#1d2531;
    color:#fff;
    font-size: 24px;
    font-weight: 700;
    -webkit-box-shadow: 4px -4px 21px 0px rgba(0,0,0,0.38); 
    box-shadow: 0px rgba(0,0,0,0.38);
    border-bottom: 3px solid #1C6EA4;
    margin-bottom:30px;
    z-index: 1;

}
.logo-icon{
    padding-right:10px ;
    font-size: 30px;
}


.bottom{
    padding-left:10px ;
    padding-right: 10px;
    color:#b7c0cd;

}
.icon{
    padding-right: 8px;
}
.bottom ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bottom ul li{
    font-size: 14px;
    display:flex;
    align-items: center;
    padding:10px 4px;
    font-weight: 400;
    
}
.bottom ul li:hover{
    color:#fff;
    background-color: #263544;
    border-left: 3px solid #1C6EA4;
    cursor: pointer;
}
.NavBar{
    display: flex;
}